on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*
      - name: install dependencies
        run: npm ci
      - name: build package
        run: npm run build
      - name: run tests
        run: npm run test
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*
      - name: install dependencies
        run: npm ci
      - name: lint
        run: npm run lint:check
  format:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: install node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: lts/*
      - name: install dependencies
        run: npm ci
      - name: format
        run: npm run format:check
